
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.one{
    font-family: 'PT Sans Narrow', sans-serif;
   background-color: rgb(109, 153, 236);
}
.two{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(84, 133, 196);
}
.three{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: aqua;
}
.four{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(50, 226, 226);
}
  .five{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(91, 196, 196);
  }
  .six{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(118, 219, 219);
  }
  .seven{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(162, 211, 211);
  }
  .h-2{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(100, 240, 100);
  }

  
.one-1{
    font-family: 'PT Sans Narrow', sans-serif;
   background-color: rgb(247, 203, 210);
}
.two-2{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(250, 170, 183);
}
.three-3{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(247, 195, 204);
}
.four-4{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(250, 151, 169);
}
  .five-5{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(226, 145, 208);
  }
  .six-6{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(224, 118, 198);
  }
  .seven-7{
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: palevioletred;
  }